.hero {
    background-image: url("../assets/images/52740.jpg");
    height: 90vh;
    }

.logoneo:hover {

        border-radius: 40%;
        transition: all .6s;
        background-color: #00b8e6;
        box-shadow:  0 0 20px #00b8e6;
        border-radius: 0%;
    }

.videoyt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2%;
        background: #000000;
        border-width: 2px;
        border-style: solid;
    }